
:root{
	--background-color: black;
	--foreground-color: lime;
	--alert-color: red;
	--font-size: 18px;
	--font: courier;
}

body {
	background-color: var(--background-color);
	font-size: var(--font-size);
	color: var(--foreground-color);
	line-height: 1em;
}

#console {
	width: 99%;
	margin: auto;
}

.alert {
	color: var(--alert-color);
}

.posRelative {
	position: relative;
}

.webConsole-button {
	font-family: inherit;
	font-size: inherit;
	height: 1.1em;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px;
	border-radius: 2px;
	margin: 1px;
	background-color: var(--foreground-color);
	color: var(--background-color);
	opacity: inherit;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.webConsole-floatingBanner {
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.semitransparent {
	alpha: 50%;
}

.webConsole-doNotDisplay {
	display: none;
}

.webConsole-promptInput {
	width: 95%;
	border: none;
	outline: none;
	font-family: var(--font);
	font-size: var(--font-size);
	background-color: var(--background-color);
	color: var(--foreground-color);
}

.webConsole {
	font-family: var(--font);
	font-size: var(--font-size);
	background-color: var(--background-color);
	color: var(--foreground-color);
	width: 800px;
}

.webConsole-snake {
	line-height: 1ch;
}

.webConsole-autoCompleteHelp {
	position: absolute;
	height: 1em;
	width: auto;
	bottom: 1px;
	border-width: 1px;
	border-radius: 2px;
	border-color: var(--foreground-color);
	border-style: solid;
	opacity: 0.5;
	transition: opacity 0.25 ease;
}

.webConsole-autoCompleteHelp-label {
	
}

.webConsole-optionsMenu {
	background-color: var(--background-color);
	font-size: 0px;
	line-height: 0em;
	height: 1em;
	width: fit-content;
	transition: line-height 0.25s ease,
				font-size 0.25s ease;
}

.webConsole-autoCompleteHelp:hover {
	opacity: 1.0;
	border: none;
}

.webConsole-autoCompleteHelp:hover .webConsole-optionsMenu {
	font-size: var(--font-size);
	line-height: 1em;
}

.webConsole-autoCompleteHelp:hover .webConsole-autoCompleteHelp-label {
	visibility: hidden;
}
