
:root{
	--background-color: black;
	--foreground-color: lime;
	--alert-color: red;
	--font-size: 18px;
	--font: courier;
}

body {
	background-color: var(--background-color);
	font-size: var(--font-size);
	color: var(--foreground-color);
	line-height: 1em;
}

#console {
	width: 99%;
	margin: auto;
}

.alert {
	color: var(--alert-color);
}

.posRelative {
	position: relative;
}

.webConsole-button {
	font-family: inherit;
	font-size: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px;
	border-radius: 2px;
	margin: 1px;
	background-color: var(--foreground-color);
	color: var(--background-color);
	opacity: 1.0;
}

.webConsole-floatingBanner {
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.semitransparent {
	alpha: 50%;
}

.webConsole-doNotDisplay {
	display: none;
}

.webConsole {
	font-family: var(--font);
	font-size: var(--font-size);
	background-color: var(--background-color);
	color: var(--foreground-color);
	width: 90%;
	border: none;
	outline: none;
}

.webConsole-contextMenu {
	position: absolute;
	background-color: var(--background-color);
	font-size: calc(var(--font-size) - 0px);
	height: fit-content;
	width: fit-content;
	opacity: 1.0;
}