

@font-face {
  font-family: 'Fira Code';
  src: url('font/woff2/FiraCode-Regular.woff2') format('woff2'),
    url("font/woff/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.webConsole-img {
	padding: 5px;
}

.webConsole h1 {
	font-size: 150%;
}

.webConsole h2 {
	font-size: 130%;
}

.whiteSpaceNormal {
    white-space: normal;
}

:root{
	--background-color: #131313;
	--foreground-color: lime;
	--alert-color: red;
	--link-color: deepskyblue;
	--input-color: forestgreen;
	--font-size: clamp(3px, 4.5vw, 20px);
	--font: 'Fira Code', 'Courier New', monospace;
}



body {
	background-color: var(--background-color);
	font-size: var(--font-size);
	color: var(--foreground-color);
	transition: font-size 0.5s ease;
}

a {
    color: var(--link-color);
}

.webConsole-pre {
    font-family: inherit;
    display: inline;
}

.alert {
	color: var(--alert-color);
}

.posRelative {
	position: relative;
}

.posAbsolute {
	position: absolute;
}

.webConsole-promptSubmitButton {
	float: right;
}

.webConsole-button {
	font-family: inherit;
	font-size: inherit;
	height: 1.1em;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px;
	border-radius: 2px;
	margin: 1px;
	background-color: var(--foreground-color);
	color: var(--background-color);
	opacity: inherit;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.webConsole-floatingBanner {
    z-index: 10;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.semitransparent {
	alpha: 50%;
}

.webConsole-doNotDisplay {
	display: none;
}

.webConsole-promptInput {
	width: 80%;
	border: none;
	outline: none;
	font-size: inherit;
	font-family: var(--font);
	background-color: var(--background-color);
	color: var(--foreground-color);
}

.webConsole {
	font-family: var(--font);
	font-size: var(--font-size);
	background-color: var(--background-color);
	color: var(--foreground-color);
	width: 100%;
	white-space: pre;
	text-wrap: wrap;
	transition: font-size 0.5s ease;
}

.webConsole-logElement{
    scroll-margin-top: 3em;
}

.webConsole-snake {
    line-height: 1em;
}

.webConsole-scaleToSquare {
	transform-origin: top center;
	transform: scaleY(0.6);
}



option:focus {
	border: none;
}

option {
	background-color: var(--background-color); 
	border-width: 0px;
	border-color: var(--foreground-color);
}

option:disabled {
	display:none;
}

.webConsole-autoCompleteHelp-colorPicker {
	opacity: 0;
	font-size: inherit;
	position: absolute;
	top: -0.1em;
	height: 1.4em;
	left: -0.2ch;
	width: 6.1ch;
	cursor: pointer;
}

.webConsole-autoCompleteHelp-label {
	top: 0.1em;
	left: 0.1ch;
}

select.webConsole-autoCompleteHelp, .webConsole-autoCompleteHelp {
	position: absolute;
	font-family: inherit;
	font-size: inherit;
	background: none;
	border-width: 1px;
	border-radius: 2px;
	border-color: var(--foreground-color);
	border-style: solid;
	color: var(--foreground-color);
	width: auto;
	padding: 0;
	bottom: 0.1em;
	opacity: 0.5;
	height: 1.25em;
	text-align: center;
	transition: opacity 0.25s ease;
	cursor: pointer;
}

.webConsole-autoCompleteHelp:hover {
	opacity: 1.0;
}

.webConsole-menu {
    position: relative;
	margin: 0.1em;
	padding: 0.1em;
	height: auto;
	border-left: 0.1em solid var(--foreground-color);
	border-right: 0.1em solid var(--foreground-color);
	border-bottom: 0.1em solid var(--foreground-color);
}

.webConsole-menu:hover {
    cursor: pointer;
}

.webConsole-menuOption {
}

.webConsole-expandedMenu {
	background-color: var(--background-color);
	position: absolute;
	left: -0.08em;
	top: 1.5em;
	padding: 0.2em;
	border: 0.1em solid var(--foreground-color);
}

.webConsole-header {
	position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
	z-index: 1;
	top: 0em;
	padding-top: 0.2em;
	height: 1.5em;
	background-color: var(--background-color);
}
